<h1 class="title">WELCOME TO PETS STORE</h1>	
<div ng-app="ngPetModule">
  <div ng-controller="ngPetController as pet">
    <form action="/guardar" method="post"> 
      <div class="list">
        <label class="item item-input item-stacked-label">
		  <span class="input-label">Pet Name</span>
		  <input type="text" name="pet" ng-model="pet.name">
		</label>
		<input class="button button-block button-dark" value="Guardar" ng-click="pet.store(pet.name)">
	  </div>
    </form>
  </div>
</div>